[submodule "implot"]
	path = 3rdparty/implot
	url = https://github.com/epezent/implot
[submodule "3rdparty/sanitizers-cmake"]
	path = 3rdparty/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
